.project {
    max-width: 550px;
    height: 480px;
    overflow: hidden;
    display: inline-block;
    text-align: left;
    margin: 20px;
    background: #39393F;
    border-radius: 8px;
    overflow: hidden;
    // border: 1px solid black;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.397);
    .top {
        width: 100%;
        padding: 0 10px;
        display: inline-block;
        h1 {
            color: white;
            letter-spacing: 0.05em;
        }
        h2 {
            color: #aaa;
        }
        p {
            color: #aaa;
            word-wrap: break-word;
            width: 95%;
        }
        i {
            color: white;
            padding: 5px;
            font-size: 36px;
        }
    }
    .bottom {
        width: 100%;
        position: relative;
        display: inline-block;
        img {
            margin-bottom: -15px;
            max-width: 550px;
            width: 100%;
        }
    }
}