.technology {
    text-align: center;
    position: relative;
    h2 {
        color: white;
        font-weight: 300;
    }
    i {
        font-size: 48px;
        color: white;
        padding: 10px 20px;
    }
}