.topHeader {
    text-align: center;
    z-index: 100;
    padding: 2.5%;
    position: absolute;
    top: 5%;
    margin: auto;
    h1 {
        color: white;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
    h4 {
        color: #aaa;
    }
    img {
        border-radius: 150px;
        max-width: 200px;
        box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.397);
    }
}