.feed {
    width: calc(100% - 480px);
    position: absolute;
    right: 0;
    overflow-y: scroll;
    height: 100vh;
    text-align: center;
}

@media (max-width: 820px) {
    .feed {
        width: 100%;
    }
}