.bottomHeader {
    z-index: 100;
    position: absolute;
    top: 50%;
    text-align: left;
    padding: 0px 20px;
    margin: auto;
}
.technology {
    text-align: center;
    position: relative;
    h2 {
        color: white;
        font-weight: 300;
    }
    i {
        font-size: 48px;
        color: white;
        padding: 10px 20px;
    }
}

.contact {
    text-align: center;
    position: relative;
    bottom: 5%;
    width: 100%;
    h2 {
        color: white;
        font-weight: 300;
    }
    a {
        i {
            font-size: 48px;
            color: white;
            padding: 5px 20px;
            transition: 0.2s all ease-out;
        }
        &:hover {
            i {
                color: lighten(#D00000, 10%);
            }
        }
    }
}

.buttonContainer {
    display: none;
}

@media (max-height: 1050px) {
    .buttonContainer {
        display: block;
        bottom: -400px;
        left: 20px;
        position: absolute;
        width: 440px;
        text-align: center;
        button {
            display: block;
            position: relative;
            background: transparent;
            border: 2px solid white;
            color: white;
            border-radius: 4px;
            padding: 10px 20px;
            font-size: 24px;
            margin: 20px auto;
            transition: 0.25s all ease-out;
            &:hover {
                background: white;
                color:  rgb(45,45,50);
            }
        }
    }
    .componentContainer {
        display: none!important;
    }
}

@media (max-height: 630px) {
    .buttonContainer {
        display: none;
    }
}