.header {
    position: absolute;
    left: 0;
    width: 20%;
    width: 480px;
    top: 0;
    bottom: 0;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1506366300875-206e56fcfc2b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e964701a9dfab9776e5ce5bd30f4dc8d&w=1000&q=80');
    background-position: 50% 50%; 
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.397);
    
}

.overlay {
    width: 100%;
    height: 100%;
    &:after {
        content: " ";
        z-index: 10;
        display: block;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: 820px) {
    .header {
        display: none;
    }
}