.contact {
    text-align: center;
    position: relative;
    bottom: 5%;
    width: 100%;
    h2 {
        color: white;
        font-weight: 300;
    }
    a {
        i {
            font-size: 48px;
            color: white;
            padding: 5px 20px;
            transition: 0.2s all ease-out;
        }
        &:hover {
            i {
                color: lighten(#D00000, 10%);
            }
        }
    }
}