body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  font-family: sans-serif;
  background: rgb(45,45,50); 
}

h1, h2 {
  font-family: 'Heebo', sans-serif;
}

h3, h4, h5, h6 {
  font-family: 'Ovo', sans-serif;
}

p, a, span {
  font-family: 'Noto Sans', sans-serif;
}
